<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/launches.css">
    <title>spaceX launches</title>
</head>
<body>
    <header></header> 
    <section id="section1">
        <%- include('_navbar.ejs') %>
        <div id="filter-form-container">
            <div id="filter-form-heading">Search</div>
            <form action="/launches" method="post" id="filter-form">
                <div class="input-container">
                    <div class="form-label">Mission</div>
                    <input type="text" class="form-input" name="mission"  placeholder="Any specific mission...">
                </div>
                <div class="input-container">
                    <div class="form-label">Rocket</div>
                    <input type="text" class="form-input" name="rocket"  placeholder="Any specific rocket...">
                </div>
                <div class="input-container">
                    <div class="form-label">Year</div>
                    <input type="text" class="form-input" name="year" placeholder="Any specific year...">
                </div>
                <button type="submit" id="form-button">Filter</button>
            </form>
        </div>
    </section>
    <section id="section2">
        <div id="launches-container">
            <% if(launches.length==0){ %>
                <div class="launch-container">
                    <div id="empty-container">No launch found !</div>
                </div>
            <% } %>  
            <% for(var i=0;i<launches.length;i++){ %>
                <div class="launch-container">
                    <div class="about-launch">
                        <div class="about-mission">
                            <div class="mission-name"><%= launches[i].mission_name %></div>
                            <div class="launch-date-time"><%= launches[i].launch_date_utc %></div>
                            <div class="launch-location"><%= launches[i].launch_site.site_name_long %></div>
                            <% if(launches[i].launch_success){ %>
                                <div class="mission-status" id="mission-success">Mission succeeded</div> 
                            <% } %>
                            <% if(launches[i].launch_failure_details){ %>
                                <div class="mission-status" id="mission-failed">Failed( <%=  launches[i].launch_failure_details.reason %>)</div> 
                            <% } %>    
                        </div>
                        <div class="about-rocket">
                            <div class="rocket-name"><%= launches[i].rocket.rocket_name %> </div>
                            <div class="rocket-type">(<%= launches[i].rocket.rocket_type %> )</div>
                            <% if(launches[i].rocket.first_stage.cores[0].reused){ %>
                                <div class="rocket-reused">Reused rocket</div>
                            <% } %>  
                            <% if(launches[i].rocket.first_stage.cores[0].land_success){ %>
                                <div class="rocket-landed">First stage module landed</div>
                            <% } %>  
                        </div>
                    </div>
                    <% if(launches[i].details){ %>
                        <div class="launch-details"><%= launches[i].details %></div>
                    <% } %>  
                    <div class="launch-externals">
                        <% if(launches[i].links.article_link){ %>
                            <div class="launch-links" onclick="location.href='<%= launches[i].links.article_link %> ';">Article</div>
                        <% } %>  
                        <% if(launches[i].links.wikipedia){ %>
                            <div class="launch-links" onclick="location.href='<%= launches[i].links.wikipedia %> ';">Wikipedia</div>
                        <% } %>
                        <% if(launches[i].links.video_link){ %>
                            <div class="launch-links" onclick="location.href='<%= launches[i].links.video_link %> ';">Video</div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <footer></footer>
</body>
</html>